*{
    
}
body{
    font-family: sans-serif;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
    
}
div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

div ul li {
  float: left;
}

div ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

div ul li a:hover {
  background-color: #111;
}